html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}